<?xml version="1.0" encoding="utf-8"?>
<launch>

    <arg name="radar_on" default="true" />

    <group if= "$(arg radar_on)" >
        <include file="$(find visualization)/launch/generator_node.launch">
        </include>
    </group>

    <remap from ="visualizer_node/radar_points" to = "generator_node/points"/>
    <group if="$(arg radar_on)">

        <include file="$(find visualization)/launch/visualizer_node.launch">

        </include>

    </group>

</launch>
